@font-face {
    font-family: "Britannic";
    src: url("fonts/Britannic.ttf") format("ttf");
}
@font-face {
    font-family: "BritannicAz";
    src: url("fonts/Britannic T Medium.ttf") format("ttf");
}

@font-face {
    font-family: "Britannic-medium";
    src: url("fonts/britannic-medium.ttf") format("ttf");
}

@font-face {
    font-family: "britannic-d";
    src: url("fonts/britannic-d-ultra.ttf") format("ttf");
}
@font-face {
    font-family: "britannic-bold-regular";
    src: url("fonts/BRITANIC-3.woff") format("woff"),
        url("fonts/BRITANIC-3.woff2") format("woff2"),
        url("fonts/BRITANIC-3.ttf") format("truetype");
}

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");

/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
    width: 1em;
    height: 1em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
    fill: #6096b4;
}

.svg-icon circle {
    stroke: #6096b4;
    stroke-width: 1;
}

.sign-in .side-menu__label {
    background: #6096b4;
    color: white;
    border-radius: 4px;
    padding: 2px 9px;
}

.vc-disabled {
    cursor: not-allowed !important;
}
.btn.focus,
.btn:focus {
    outline: 0;
    box-shadow: none;
}

.post-comment-w {
    width: 75% !important;
}

.life-story-logo {
    font-size: 25px;
    color: #6096b4 !important;
    font-weight: 400;
    line-height: 28.41px;
}

.landing-page-ul-link {
    font-family: "Oswald", serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 19px;
    color: black !important;
}

.dashboard-front-end {
    color: white !important;
}

.main-banner {
    height: 500px;
    margin-top: 100px !important;
}

.main-banner-text {
    width: 100%;
    font-family: "Oswald", serif;
    font-size: 65px;
    font-weight: 900;
    line-height: 65px;
    letter-spacing: 0em;
    text-align: center;
    color: black;
    font-weight: 900;
}

.menu-seach-svg {
    width: 25px !important;
    cursor: pointer;
}

.landing-page .social i {
    border: 1px solid white !important;
}
.landing-page .demo-footer {
    background-color: #6096b4 !important;
}

a.btn-learn-more {
    background: #6096b4;
    border-radius: 4px;
    padding: 4px 20px;
    color: white;
    margin-left: 35px;
    margin-top: 15px !important;
}

.team-card {
    min-height: 319px !important;
    border: 1px solid #ececec;
    border-radius: 8px;
    box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.1) !important;
}

.how-it-works-img {
    border: none !important;
}

a.more {
    font-family: "Oswald", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
    background: #6096b4;
    border-radius: 4px;
    padding: 4px 25px 4px 25px;
}

.how-it-works-title {
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 23px;
    color: #6096b4;
}

.landing-page-body {
    overflow-x: hidden !important;
}

div#Team {
    background: rgba(96, 150, 180, 0.02) !important;
}

div#our-services {
    padding: 0px;
}

ul.footer-social-link a {
    font-size: 20px !important;
}

.footer-heading {
    font-family: "Oswald", serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
}

.client-info i {
    color: #ffb800;
    font-size: 20px;
}

.client-section .client-img img {
    border: 5px solid #a7c7e7;
    border-radius: 50%;
    min-width: 137px;
    margin-top: 25px;
}

.client-info {
    margin-left: 20px !important;
}

.client-info p {
    letter-spacing: 0em;
    text-align: left;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    color: #000000;
}

h4.cleint-name {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
}

p.designation {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.6);
}
img.logo-2 {
    max-width: 263px !important;
    margin-top: -16px !important;
}
.preloader {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 1001;
    background: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.preloader .preloader-icon {
    border: 5px solid #eee;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border-top: 5px solid #3498db;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 0.5s linear infinite;
    -moz-animation: spin 0.5s linear infinite;
    -o-animation: spin 0.5s linear infinite;
    animation: spin 0.5s linear infinite;
}

.btn-create-your-story {
    font-size: 18px;
    line-height: 24.51px;
    color: #ffffff;
    background: #6096b4;
    border-radius: 4px;
    margin-top: 20px;
}

.owner-image {
    width: 250px;
}
.how-it-works-img {
    height: 20vh;
    object-fit: contain;
}

img.create-password-img {
    width: 150px;
}

#image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

#image-container img {
    height: 100px !important;
    width: 100px !important;
    object-fit: cover;
}

div.box {
    position: relative;
    border-radius: 50%;
    height: 104px;
    width: 104px;
}

div.box:hover {
    background-color: #ebf5eb;
    box-shadow: 10px 10px 35px -15px rgba(0, 0, 0, 0.75);
}

div.box img {
    position: absolute;
    top: 0;
    height: 150px;
    width: 150px;
}

div.box i {
    color: white;
    position: absolute;
    top: 45%;
    left: 45%;
    transform: scale(3);
}

div.box:hover img {
    opacity: 0.7;
}

div.box * {
    transition: all 0.35s ease-in-out;
}

div.box i {
    transform: scale(0);
}

div.box:hover i {
    transform: scale(2);
    transition: transform 0.35s ease-in;
}

.customer-image {
    background-color: #f3f0e5;
}

.customer-image img {
    width: 244px;
    height: 244px;
    object-fit: cover;
    border-radius: 50% !important;
}

.about-life-story p {
    font-family: Open Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    padding: 15px 50px 15px 50px;
    margin-right: 0px;
}

.about-life-story {
    background: rgba(238, 233, 218, 0.4);
}

.customer-story {
    padding-bottom: 0px !important;
}

.customer-story .overflow-hidden {
    padding-bottom: 0px !important;
}

.feed-title {
    color: rgba(32, 32, 32, 1);
    font-family: Georgia;
    font-size: 28px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;
}

.feed-hr {
    height: 1px !important;
    background-color: black !important;
    border: none;
    margin-bottom: 20px;
    margin-top: 10px !important;
}

.feed-user img {
    height: 62px;
}

.feed-user img {
    height: 62px;
}
.author-details h6 {
    margin-bottom: 0px;
    margin-top: 5px !important;
}

.feed-user .profile {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.single-line {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.single-line:hover {
    overflow: visible;
    white-space: normal;
}

.font-size-25 {
    font-size: 25px !important;
}
.calendar-session:hover {
    font-size: 25px !important;
}
.page-header .breadcrumb li.breadcrumb-item:first-child:before,
.page-header .breadcrumb li.breadcrumb-item + .breadcrumb-item::before {
    font-size: 20px !important;
}

/* Font size changes css , small medium and large */

.ct-card-header {
    font-size: 25px !important;
}
.ct-card-header.small {
    font-size: 16px !important;
}
.ct-card-header.medium {
    font-size: 20px !important;
}
.ct-card-header.large {
    font-size: 30px !important;
}

.ct-form-label {
    font-size: 20px !important;
}
.ct-form-label.small {
    font-size: 12px !important;
}
.ct-form-label.medium {
    font-size: 20px !important;
}
.ct-form-label.large {
    font-size: 30px !important;
}

.ct-form-control {
    font-size: 20px !important;
}
.ct-form-control.small {
    font-size: 12px !important;
}
.ct-form-control.medium {
    font-size: 20px !important;
}
.ct-form-control.large {
    font-size: 30px !important;
}

.ct-form-control-icon {
    font-size: 20px !important;
}
.ct-form-control-icon.small {
    font-size: 11px !important;
}
.ct-form-control-icon.medium {
    font-size: 19px !important;
}
.ct-form-control-icon.large {
    font-size: 29px !important;
}
.ct-p {
    font-size: 14px !important;
}
.ct-p.small {
    font-size: 10px !important;
}
.ct-p.medium {
    font-size: 18px !important;
}
.ct-p.large {
    font-size: 25px !important;
}

.ct-pl {
    font-size: 20px !important;
}
.ct-pl.small {
    font-size: 16px !important;
}
.ct-pl.medium {
    font-size: 24px !important;
}
.ct-pl.large {
    font-size: 31px !important;
}

.bg-light-c {
    background-color: #eeeeee;
}

.text-red {
    color: red !important;
}

.notification-div {
    max-height: 300px !important;
    overflow: scroll !important;
}

.demo-app-calendar {
    width: 100%;
}

.psot-image {
    height: 200px !important;
    object-fit: cover !important;
}
@media (max-width: 400px) {
    .form-control.form-sm {
        width: 200px;
    }
    .demo-app-calendar {
        width: 1000px;
    }
    .slot-legends p {
        justify-content: start !important;
    }
    .vue-form-wizard .wizard-card-footer {
        padding: 0 !important;
    }
    ul.navbar-nav li .notification {
        width: 320px !important;
    }

    .lifestory-cost {
        font-size: 20px !important;
        bottom: -8px !important;
    }
}

@media (max-width: 350px) {
    .schedule-story-card-body {
        padding-bottom: 30px !important;
    }
}
@media (max-width: 420px) {
    .scroll-btns {
        display: flex;
        width: 370px !important;
        justify-content: space-between;
        position: absolute;
        top: -41px !important;
        z-index: 999999;
    }

    .schedule-story-card-body {
        padding-bottom: 50px !important;
    }

    .lifestory-cost {
        font-size: 20px;
        left: 34% !important;
        transform: translate(-25%, -25%) !important;
        bottom: -15px !important;
    }
}
.add-post-btn {
    border-radius: 7px;
    font-size: 20px;
    white-space: nowrap;
    position: fixed;
    right: 30px;
    top: 85vh;
    z-index: 10000;
}
.add-post-modal-btn {
    border-radius: 7px;
    font-size: 20px;
    white-space: nowrap;
}

.lifestory-cost {
    position: absolute;
    bottom: 65px;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap !important;
}

span.select2-dropdown.select2-dropdown--below {
    z-index: 999999999999 !important;
}

span.select2-dropdown.select2-dropdown--above {
    z-index: 999999999999;
}

.selectedCalendarDate {
    background-color: #6096b4 !important;
    color: white !important;
}

.our-mission-header h3 {
    font-family: "Oswald", serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0em;
    text-transform: capitalize;
    text-align: left;
    text-align: center;
}

.our-mission-header h5 {
    margin-top: 20px !important;
    font-family: "Oswald", serif;
    font-size: 35px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
}

.landing-page-paragraphs p {
    font-family: "Oswald", serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
}

.landing-page-paragraphs .read-more-text p {
    font-family: "Oswald", serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 21px;
    letter-spacing: 0em;
}

.our-mission-img {
    max-width: 100%;
    object-fit: contain;
}

.how-can-i-do-header h3 {
    font-family: "Oswald", serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 20px;
}

/* .how-can-i-do-img {
    height: 486px !important;
    width: 704px !important;
    object-fit: cover;
} */

.btn-create-your-story {
    font-family: "Oswald", serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
}

.book-session-header h3 {
    font-family: "Oswald", serif;
    font-size: 33px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 20px;
}

.list-dots {
    list-style-type: none;
    padding-left: 18px !important;
    margin-bottom: 23px;
}

.list-dots li {
    font-family: "Oswald", serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
}

.list-dots li {
    list-style-type: disc;
    padding-left: 10px;
    text-indent: 0px;
}

.list-dots li::marker {
    color: #6096b4 !important;
}

.book-session-img {
    width: 576px !important;
    height: auto !important;
    object-fit: contain;
}

.record-story-header h3 {
    margin-bottom: 20px;
    font-family: "Oswald", serif;
    font-size: 33px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    white-space: nowrap;
}

.add-gallery-btn {
    max-height: 40px !important;
}

img.how-can-i-do-img {
    margin-left: 10%;
}

/* Mobile responsive */

@media (max-width: 768px) {
    .asCustomer-fnf h1 {
        margin-top: 9px !important;
        margin-bottom: 25px !important;
    }

    p.customer-membership {
        line-height: 30px;
    }

    .our-mission-header h5 {
        line-height: 35px;
    }

    a.carousel-control-prev.carousel-slide-buttons.left-side {
        width: 35px;
        height: 35px;
    }
    a.carousel-control-next.carousel-slide-buttons.right-side {
        width: 35px;
        height: 35px;
    }

    div#carouselExampleIndicatorsTablet {
        width: 90%;
        margin: auto 13px;
    }

    .post-comment-w {
        width: 100% !important;
    }

    .recent-post-image {
        max-width: 91% !important;
    }

    .create-story-hr {
        top: 3.2% !important;
    }

    .carousel-inner {
        margin-left: 0px !important;
    }

    .testimonial-carousel-inner {
        width: 90% !important;
        margin: 0 auto !important;
    }

    .langing-page-indicators {
    }

    .all-memories-btns {
        margin-right: 0px !important;
        text-align: center !important;
        display: flex !important;
        justify-content: center !important;
    }
    .book-session-shadow::before {
        display: none !important;
    }
    .how-can-i-do-img-shadow::before {
        display: none !important;
    }

    .share-with-family-shadow::before {
        display: none !important;
    }

    .our-mission-img {
        height: auto !important;
        margin-top: 30px;
    }

    .scroll-btns {
        z-index: 10 !important;
    }

    .feed-section {
        padding-left: 35px;
        padding-right: 35px;
    }

    .feed-title {
        font-size: 20px !important;
    }

    .video-section-mobile {
        padding: 0px !important;
        margin-top: 20px !important;
    }
    .roww {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }
    .ct-card-header.medium {
        font-size: 16px !important;
    }
    li.nav-item.active a.nav-link::after,
    li.nav-item:hover a.nav-link::after {
        width: 18% !important;
    }

    .fit-image {
        width: 100% !important;
    }
    .testimonial-data h2 {
        position: absolute;
        top: 105px;
        left: 1010px;
    }
    div#client-testimonials {
        margin-top: 25px;
    }
    .carousel-indicators {
        bottom: -140px !important;
    }
    .main-banner {
        height: 400px !important;
    }
    .record-story-header h3 {
        white-space: normal !important;
    }

    .fnf-img {
        width: 96% !important;
    }

    .how-can-i-do-img {
        height: auto !important;
        width: 90% !important;
        margin-left: 20px !important;
        margin-right: 20px;
        margin-top: 45px;
        margin-bottom: 10px;
    }

    .fnf-img {
        margin-top: 30px !important;
        object-fit: contain !important;
        height: auto !important;
        margin-top: 50px !important;
        margin-bottom: 10px !important;
    }

    .btn-create-your-story {
        display: flex;
        justify-content: center;
        font-size: 16px !important;
        margin-top: 42px !important;
        white-space: nowrap;
    }
    .full-size-div {
        display: block !important;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        padding-left: 30px !important;
        padding-right: 30px !important;
    }
    .testimonial-single-name {
        font-size: 17px !important;
        font-family: "Oswald", serif !important;
    }

    .langing-page-indicators {
        margin-top: 50px;
    }

    .main-banner-text {
        line-height: 45px !important;
        font-size: 38px !important;
    }

    .book-session-img {
        margin-top: 60px !important;
    }

    .form-control-book-session {
        width: 100% !important;
    }

    .create-stoy-form-section {
        margin-right: 30px !important;
    }

    .lifestory-cost {
        position: absolute;
        bottom: 90px !important;
        left: 50% !important;
        transform: translate(-50%, -50%) !important;
        white-space: nowrap !important;
    }

    /* Login page responsive */

    h5.login-page-heading {
        font-size: 20px !important;
        line-height: 30px !important;
        text-align: center !important;
    }

    .login-input-form-section,
    .login-form-wrapper {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .sign-in-button-wrapper button {
        width: 100% !important;
    }

    .login-page-section {
        margin-top: 10px !important;
    }

    .card-body.schedule-story-card-body {
        padding-left: 0 !important;
    }

    .slot-date p {
        padding-top: 7px !important;
        padding-bottom: 7px !important;
    }
    .slot-date {
        margin-left: 7px !important;
        margin-right: 7px !important;
    }

    .available-time-slote-heading {
        margin: 15px 15px !important;
    }

    .wizard-card-footer.clearfix {
        margin-left: 13px !important;
        margin-right: 13px !important;
    }

    .fnf-img {
        margin-left: 0px !important;
    }
}
div#carouselExampleIndicators a {
    margin-top: 15px;
}

.fnf-img {
    width: 87%;
    margin-top: 184px;
    object-fit: contain;
    border-radius: 15px;
    margin-left: 95px;
    height: 400px;
}

.owener-img {
    width: 702px;
    height: 500px;
    object-fit: cover;
}

.lifestory-history-header h3 {
    font-family: "Oswald", serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 50px !important;
}

.read-more-history {
    width: 323px;
    height: 43px;
    padding: 0px, 81.57px, 0px, 0px;
    text-align: center;
}

.history-paras p {
    font-family: "Oswald", serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
}

.read-more-text p {
    text-align: left !important;
}
.read-more-text h4 {
    font-family: "Oswald" !important;
    font-weight: bold;
    text-align: left !important;
}

.custom-font-family {
    font-family: "Oswald", serif;
}

.btn-shadow {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.testimonial-data {
    display: none;
    text-align: center !important;
}

.carousel-indicators li.active .testimonial-data {
    display: block !important;
}

.vue-form-wizard {
    padding-bottom: 4px !important;
}

.select2.select2-container .select2-selection {
    min-height: calc(2.25rem + 4px);
}

.select2-selection__rendered[title]:not(:empty) {
    margin-top: 4px !important;
}

.fc-more-popover {
    z-index: 10000;
}

.testimonial-data h2 {
    font-family: "Oswald", serif !important;
    font-size: 22px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
}

.testonomials-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.testinomials-item {
    position: relative;
}

.testimonial-data h2 {
    position: absolute;
    top: 105px;
    left: 1018px;
}

.testimonial-data .testimonial-single-rating {
    position: absolute;
    top: 100px;
    color: #ffb800 !important;
    left: 420px;
}

.testimonial-card {
    border-radius: 12px;
}

button.fc-today-button.fc-button.fc-button-primary {
    text-transform: capitalize;
}

span.side-menu__label.py-2.px-3.landing-page-ul-link.sign-in.dashboard-front-end {
    width: 107px;
    border-radius: 4px;
    border: 0.5px;
    background-color: #6096b4 !important;
}

.testimonial-card-body p {
    font-family: "Oswald", serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
}
@media (max-width: 768px) {
    a.carousel-control-prev,
    a.carousel-control-next {
        width: 40px;
        height: 40px;
    }
    div#carouselExampleIndicators a {
        margin-top: 40px;
        margin-right: -20px;
        margin-left: -20px;
    }
    .owener-img {
        width: 100%;
        height: 300px;
        object-fit: contain;
    }
    .btn.btn-primary.landing-page-ul-link {
        color: white !important;
    }
}

/* Tablet media queries  */

@media (min-width: 768px) and (max-width: 1024px) {
    .menu-icon-tablet {
        margin-bottom: 15px;
    }

    .slot-date {
        width: 90%;
        margin: auto 30px !important;
    }

    .post-comment-w {
        width: 100% !important;
    }

    .left-margins {
        width: 0% !important;
        margin-right: 20px !important;
    }

    .share-with-family-shadow {
        align-items: center !important;
    }

    .create-story-hr {
        top: 5.2% !important;
    }
    .owener-img {
        width: 400px;
        height: 380px;
        object-fit: cover;
        margin-top: 45px;
    }
    .menu-toggler-btn {
        order: 2 !important;
    }

    li.nav-item.active a.nav-link::after,
    li.nav-item:hover a.nav-link::after {
        width: 10% !important;
    }

    /* login page tablet responsive */

    button.sign-in-button {
        width: 198.91px !important;
    }

    .book-session-form-img {
        display: none !important;
    }

    .create-stoy-form-section {
        width: 100% !important;
    }
}

.carousel-indicators li img {
    object-fit: cover;
}

.vue-form-wizard.md .wizard-nav-pills > li.active > a .wizard-icon {
    font-size: 24px;
    display: none !important;
}

i.wizard-icon {
    display: none !important;
}

.vue-form-wizard.md .wizard-icon-circle {
    width: 12px !important;
    height: 12px !important;
    margin-top: 28px !important;
}

.card-body.schedule-story-card-body {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px !important;
}

.vue-form-wizard .wizard-tab-content {
    padding: 0px !important;
}

.create-stoy-form-section {
    padding-bottom: 30px !important;
    position: relative;
}

.create-story-hr {
    position: absolute;
    width: 62% !important;
    border: 2px solid #c7c7c7;
    left: 50%; /* Center horizontally */
    top: 5.5%; /* Fixed position from the top */
    transform: translateX(-50%);
}

.vue-form-wizard .wizard-card-footer {
    margin-top: 80px;
}
.col-md-12.border.p-2.mb-3.book-session-form-top-text p {
    font-family: "os";
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}

.book-session-form-top-text p {
    margin-top: 12px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0px;
}

.form-control-book-session {
    height: 37.63px;
    border-radius: 4px;
    border: 0.5px;
    background-color: #f1f1f1;
    border: 0.5px solid rgba(200, 200, 200, 1);
}

.form-control-book-session:focus {
    box-shadow: none !important;
}

div#account_holder label {
    width: 129.02px;
    height: 20.16px;
    top: 354.68px;
    left: 203px;
    font-family: Open Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
}

#select2-daySelect-container,
#select2-monthSelect-container,
#select2-yearSelect-container {
    background-color: #f1f1f1;
}

span.select2-selection.select2-selection--single {
    background-color: #f1f1f1;
}

.wizard-progress-with-circle {
    margin-left: 15px;
}

/* .wizard-navigation > ul {
    margin-left: 15px;
} */

.no-slots-available {
    margin-top: 50px !important;
    height: 80px;
}

.login-page-card {
    border-radius: 7px;
}

.login-form-img-div {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.login-form-img-div {
    position: relative;
    background-size: cover;
    height: 537px;
    width: 100%;
}

.background-with-text {
    position: relative;
    height: 100%;
    width: 100%;
}

.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: white;
    padding: 10px 20px;
}

.centered-text h1 {
    width: 228px;
    height: 59px;
    font-family: "Oswald", serif;
    font-size: 30px;
    font-weight: bold;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: center;
    color: #ffffff;
    white-space: nowrap;
}

.login-form-control {
    width: 100%;
    height: 38px;
    border-radius: 4px;
    border: 0.5px;
    border: 0.5px solid #d0d0d0;
    background-color: #f1f1f1 !important;
    border: 0.5px solid rgba(200, 200, 200, 1);
    font-family: "Oswald", serif !important;
}

.login-form-control:focus {
    box-shadow: none !important;
}

.centered-text p {
    width: 191px;
    height: 24px;
    font-family: "Oswald", serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    color: #ffffff;
    white-space: nowrap;
}

a.login-book-session {
    font-family: "Oswald", serif;
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px;
    background: transparent;
    border: 1px solid #ffffff;
}

.login-page-section {
    margin: 100px auto;
}

.login-input-form-section {
    display: flex;
    justify-content: center;
    height: 500px;
}

.input-group-with-i {
    position: relative;
}

.input-group-with-i i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #bd8c8cad !important;
    z-index: 999999;
}

h5.login-page-heading {
    width: auto;
    font-family: "Oswald", serif;
    font-size: 30px;
    font-weight: bold;
    line-height: 65px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
    line-height: 40px;
}

.forget-link {
    font-family: "Oswald", serif;
    font-size: 16px !important;
    font-weight: 600 !important;
    line-height: 13px !important;
    letter-spacing: 0em !important;
    text-align: left !important;
    color: #6096b4 !important;
    border-radius: 4px !important;
    border: 0.5px !important;
}

button.sign-in-button {
    font-family: "Oswald", serif;
    width: 198.91px;
    height: 40.32px;
    font-weight: 700;
    border-radius: 4px;
    background: #6096b4;
}

button.back-button {
    color: #6096b4;
    background: transparent !important;
}

button.back-button:hover {
    color: #6096b4 !important;
}

div#step-ContactInfo0 {
    position: relative;
}

.slot-date {
    border-radius: 5px;
}

.book-session-form-top-text {
    margin-top: 30px !important;
}

.input-group.input-with-i input {
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
}

div#step-SelectTimeSlot1 {
    position: relative;
}

.vue-form-wizard.md .wizard-icon-circle {
    background: #c7c7c7;
}

.cross-story-page {
    position: absolute;
    text-align: 0;
    top: 9px;
    right: 30px;
    color: white !important;
    cursor: pointer;
}

.book-session-form-img img {
    opacity: 0.75;
}

.wizard-footer-left button {
    background-color: white !important;
    border-color: #6096b4 !important;
    color: #6096b4 !important;
}

.btn-sm-p-0 {
    padding-top: 3px !important;
    padding-bottom: 3px !important;
}

.input-with-i i {
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 10px;
    color: #b7a8a8;
    z-index: 999999;
}

.create-story-message-section {
    padding-left: 40px;
    padding-right: 40px;
}

.date-of-birth-row ul.dropdown-menu.show {
    max-height: 150px !important;
    overflow: auto !important;

    /* Customize the scrollbar styles for webkit-based browsers (e.g., Chrome) */
    scrollbar-width: thin !important;
    scrollbar-color: #999 transparent !important;

    /* Style the scrollbar thumb (dragging part) */
    &::-webkit-scrollbar-thumb {
        background-color: #999 !important;
        border-radius: 5px !important;
    }

    /* Style the scrollbar track (background) */
    &::-webkit-scrollbar-track {
        background-color: transparent !important;
    }

    /* Optionally, hide the default scrollbar in Firefox */
    scrollbar-width: thin !important;
}

.feed-title {
    font-family: "Oswald", serif;
    font-size: 30px !important;
    font-weight: 600;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: left;
}

/* .recent-post-card {
    min-width: 220px !important;
} */
.item-container {
    max-width: 97% !important;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    height: 450px;
}

.feed-section .image {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.scroll-btns {
    display: flex;
    width: 110%;
    justify-content: space-between;
    position: absolute;
    top: 131px !important;
    z-index: 999999;
}

.post-container {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
}

.post {
    display: inline-block;
    width: 100%;
}

.img-div img {
    width: 254px !important;
    height: 168px !important;
    object-fit: cover;
}

.recent-post-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 21px !important;
}

.recent-post-footer p {
    font-family: "Oswald", serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
}

.recent-post-caption {
    display: flex;
    justify-content: space-between;
    padding: auto 10px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.recent-post-caption p {
    font-family: "Oswald", serif;
    font-size: 30px !important;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
}

.author-details {
    display: flex;
    justify-content: start;
    align-items: center !important;
    margin-bottom: 20px !important;
}

.post-comment-img {
    width: 30px !important;
    height: auto;
}

i.carosel-buttons {
    border: 2px solid #6096b4;
    padding: 10px;
    border-radius: 50%;
}

.customer-show-all-posts {
    border-radius: 4px;
    color: white !important;
    font-family: "Oswald", serif;
    padding: 7px 40px !important;
    margin-top: 20px;
}

.number-heading {
    margin-bottom: -10px;
    font-family: "Oswald", serif;
    font-size: 100px;
    color: #ebebeb;
}

.book-session-shadow,
.how-can-i-do-img-shadow {
    position: relative;
}
.book-session-shadow::before {
    position: absolute;
    content: "";
    width: 702px;
    height: 420px;
    border-radius: 4px;
    background: #e5e8e994;
    top: 163px;
    left: -299px;
}
.how-can-i-do-img-shadow::before {
    position: absolute;
    content: "";
    width: 702px;
    height: 420px;
    border-radius: 4px;
    background: #f0f2f2;
    top: 163px;
    left: -299px;
}

.share-with-family-shadow {
    position: relative;
}

.share-with-family-shadow::before {
    position: absolute;
    content: "";
    width: 280px;
    height: 263px;
    border-radius: 10px;
    background: #f7f7f7;
    top: 110px;
    right: 500px;
}

.list-dots li {
    margin-bottom: 10px; /* Adjust the value as needed */
}

.record-story-img {
    width: 96%;
}

.bio-content-update {
    max-height: 30px;
    overflow: auto;
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: #888 #f1f1f1; /* For Firefox */

    /* Webkit (Chrome, Safari) scrollbar styling */
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
    &::-webkit-scrollbar {
        width: 12px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #888;
        border-radius: 6px;
    }
    &::-webkit-scrollbar-track {
        background-color: #f1f1f1;
    }
}

p.ct-card-header.video-recording-date.video-recording-date-tour.mt-5.large {
    white-space: normal !important;
}

.recent-post-max-caption:hover {
    max-width: none;
    text-overflow: unset;
    white-space: normal;
}

.recent-post-image {
    max-width: 100%;
    width: 100% !important;
    height: 200px !important;
    object-fit: cover;
}

@media (max-width: 400px) {
    .single-slot-option {
        font-size: 13px !important;
    }

    .carousel-control-prev {
        margin-left: -40px !important;
    }
    .carousel-control-next {
        margin-right: -40px !important;
    }

    .customer_details_tour {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
}

.left-margins.d-md-block.d-none {
    width: 210px;
}

.ct-card-header.large {
    font-size: 30px !important;
    white-space: normal !important;
    line-height: 35px !important;
}

@media (max-width: 768px) {
    .gallery-heading {
        margin-top: 30px !important;
        font-size: 30px !important;
    }

    .video-recording-date {
        white-space: normal !important;
        line-height: 41px !important;
    }
}
div.sticky {
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 0 !important;
}

.vue-form-wizard .wizard-nav-pills {
    display: none !important;
}

.wizard-progress-bar {
    display: none !important;
}

.enjoyhint_skip_btn,
.enjoyhint_skip_btn {
    border: 2px solid #6096b4;
    color: #6096b4;
    background: rgba(0, 0, 0, 0);
}

.enjoyhint_next_btn {
    border: 2px solid #6096b4;
    color: #6096b4;
    background: rgba(0, 0, 0, 0);
}

.enjoyhint_close_btn {
    border: 2px solid #6096b4 !important;
    background: #6096b4 !important;
}

.enjoyhint_skip_btn:active {
    border: 2px solid #6096b4 !important;
    background: #6096b4 !important;
}
.enjoyhint_skip_btn:hover {
    border: 2px solid #6096b4 !important;
    background: #6096b4 !important;
}
.enjoyhint_next_btn:hover {
    border: 2px solid #6096b4 !important;
    background: #6096b4 !important;
}

.enjoyhint_close_btn:hover {
    border: 2px solid #6096b4 !important;
    background: #6096b4 !important;
}

.landing-page-font p {
    font-size: 22px !important;
    line-height: 25px !important;
}

img.how-can-i-do-img {
    height: 400px;
    border-radius: 10px;
}

.customer-fnf .dd-flex {
    margin-top: -55px !important;
    margin-bottom: -40px !important;
}

.add-post-modal-btn {
    font-size: 18px !important;
}

.enjoy_hint_label {
    color: #6096b4;
    font-weight: 900;
}

.gallery-heading-mobile {
    margin-bottom: 30px !important;
}



@media (max-width: 768px) {
    .our-mission-header h3 {
        font-size: 30px !important;
    }

    .our-mission-header h5 {
        font-size: 25px !important;
    }

    .how-can-i-do-header h3 {
        font-size: 30px !important;
    }

    .book-session-header h3 {
        font-size: 30px !important;
    }

    .record-story-header h3 {
        font-size: 30px !important;
    }

    .lifestory-history-header h3 {
        font-size: 30px !important;
    }

    .testimonial-data h2 {
        left: 1045px !important;
    }

    .testimonial-data .testimonial-single-rating {
        left: 430px !important;
    }

    li.testinomials-item.active {
        width: 90% !important;
        margin: auto 10px !important;
    }
}


@media (min-width: 768px) and (max-width: 1024px) {
    .testimonial-data h2 {
        left: 1065px !important;
    }
    .testimonial-data .testimonial-single-rating {
        left: 450px !important;
    }
}